.Intro-options {
  display: flex;
  width: 1024px;
  height: 768px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(9, 5, 30, 0.863); }

.Burguer-logo {
  width: 269px; }

.Waiter {
  background: #f6ab52;
  border: none;
  border-radius: 0% 100% 100% 0% / 57% 50% 50% 40%;
  width: 329px;
  height: 658px;
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 40px;
  color: #2b1207; }

.Chef {
  background: #eb5a44;
  border: none;
  border-radius: 100% 0% 0% 100% / 51% 50% 50% 49%;
  width: 329px;
  height: 658px;
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 40px;
  color: #2b1207; }
