.Items-container {
  display: flex;
  height: 390px;
  width: 620px;
  flex-flow: column wrap;
  justify-content: space-around;
  margin-left: 20px;
}

.Item {
  background-image: url(./buttonMenu.png);
  width: 270px;
  height: 145px;
  border-radius: 50px;
  border-style: none;
}
