$waiterButton: url(./button.png);
$tableHeigth: 80px;
$tableWidth: 360px;
$marginTable: 80px;
$font-family: "Love Ya Like A Sister", cursive;
$font-color: rgb(250, 250, 237);
$font-size: 30px;
$border: 51px;

.Waiter-name {
  display: flex;
  margin-top: $marginTable;
  background-image: $waiterButton;
  width: $tableWidth;
  height: $tableHeigth;
  border-radius: $border;
  border: none;
  justify-content: center;
  flex-direction: center;
  align-content: center;
  align-items: center;
  font-size: $font-size;
  font-family: $font-family;
  color: $font-color;
}
