$background: rgba(9, 5, 30, 0.83);
$burguer: 269px;
$color-font-border: #f6ab52;
$font-family: "Love Ya Like A Sister", cursive;
$font-color: #fffaed;
$font-size-s: 20px;
$font-size-m: 25px;

.WindowContainer {
  display: flex;
  width: 557px;
  height: 400px;
  justify-content: center;
  border: solid 2px $color-font-border;
  background-color: $background;
  border-radius: 50px;
}

.AllspaceModalContainer {
  width: inherit;
}
