$background: rgba(9, 5, 30, 0.863);
$burguer: 269px;
$waiter-background: #f6ab52;
$chef-background: #eb5a44;
$font-family: "Love Ya Like A Sister", cursive;
$font-color: #2b1207;
$font-size: 40px;

.Chefs {
  width: 1024px;
  height: 768px;
  background-image: url(./fondococina.png);
}
